body {
    margin-top: 45px;
    margin-left: 150px;
    margin-right: 175px;
    display: block;
}
#submit {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 18px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    white-space: nowrap; 
}


h1:empty:not(:focus)::before {
    content: attr(placeholder);
    
}

address:empty:not(:focus)::before {
    content: attr(placeholder);
    
}

p:empty:not(:focus)::before {
    content: attr(placeholder);
    
}

p {
    /* margin: 100px; */
    outline:none;
}